.site-header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 99;
}

#large-nav-primary{

	@media (max-width : $mobile-nav-breakpoint) {
		display: none;
	}
}

#nav-toggle{
	display: none;
	
	@media (max-width : $mobile-nav-breakpoint) {
		display: block;
	}
}
